<a href="https://colab.research.google.com/github/stevenkhwun/P4DS/blob/main/Chp01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Some useful commands

## Binary operators

In [48]:
# Binary operators
print(100 + 9)   # Add
print(100 - 9)   # Subtract
print(100 * 9)   # Multiply
print(100 / 9)   # Divide
print(100 // 9)  # Floor-divide
print(100 % 9)   # Modulo operatio
print(100 ** 3)  # Raise to a power

109
91
900
11.11111111111111
11
1
1000000

## Comparisons

## `&` and `AND`

See https://www.geeksforgeeks.org/difference-between-and-and-in-python/ for refernce.

## `is` and `is not` keyword

To check if two variables refer to the same object, use the `is` keyword. Use `is not` to check that two objects are not the same:

In [41]:
# Creating the objects
a = [1, 2, 3]
b = a
c = list(a)

a, b, c

([1, 2, 3], [1, 2, 3], [1, 2, 3])

The object `a`, `b` and `c` are the same in the sense that they have the same value.

In [42]:
# Compare the value of the objects
print(a == b)
print(b == c)
print(a == c)

True
True
True

However, only `a` and `b` are refering to the same object, i.e. the list `[1, 2, 3]` and `c` in fact a copy of `a` created by the function `list()` and is distinct from `a`.

In [46]:
# Compare the object using is and is not
print(a is b)
print(a is c)
print(b is not c)

True
False
True

By appending an element to `a` and then examining `b`, you can see that `a` and `b` are referring to the same object.

In [47]:
# Appending element to a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

# Import custom modules

In Python, a module is simply a file with the `.py` extension containing Python code. Suppose we had the following module:

```python
# some_module.py
PI = 3.14159

def f(x):
    return x + 2
    
def g(a, b):
    return a + b
```

To import a module, the `.py` module file should be put into the same folder or the path of the location of the file be stated in the command:
```python
# In the same folder
import module_name   # .py not necessary

# In different folder
import \Module\module_name   # import from a subfolder Module
```

The following example demonstrates importing a module in the Colab environment and some more steps are needed. Since Colab is a Jupyter Notebook environment working in the cloud and it cannot access the file in the hard drive of a computer, we need first upload the module file to the cloud and make it accessable by the Jupyter Notebook.

## Colab operations

First you need to upload the custom module file to your Google drive. In this example, the `some_module.py` file is uploaded to the sub-directory `\Modules` in the Google drive.

To make the module file accessible by Jupyter Notebook, you need to copy the module file to the working directory of the notebook. To check the working directory of the notebook, you can use the following command:

In [ ]:
# Check your Colab temporary path
! pwd

/content

Before you can copy the file to the working directory, you need to mount your Google drive to Google Colab.

In [ ]:
# Mount your Google drive to Google Colab
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

You can check the file directory by clicking on the left panel of the Colab environment. You can also check the working directory again.

In [ ]:
# Check your Colab temporary path
! pwd

/content

Now you can copy the custom module from Google Drive to Colab temporary drive.

In [ ]:
# Copy custom module from Google Drive to Colab temporary drive 
# !cp [path of your custom module] [path where you like to copy]
! cp /content/drive/MyDrive/Modules/some_module.py /content/

## Running the custom module

The module file has now been copied to the Colab temporary drive and you can import the module by the following command:

In [12]:
# Import the module
import some_module

In [ ]:
# Run the function in the module
result = some_module.f(5)   # Run f
pi = some_module.PI         # Obtain the constant stated in the module

# Print the results
print(result)
print(pi)

7
3.14159

To directly use the function in the module, use the following command:

In [ ]:
# Directly import function in a module
from some_module import g, PI

# Run the function
results = g(1, 10)
print(results)
print(PI)

11
3.14159

Finally, your can also using the `as` keyword to give imports different variable names:

In [ ]:
# Use as keyword
import some_module as sm
from some_module import PI as pi, g as gf

# Run the function
r1 = sm.f(pi)
r2 = gf(6, pi)
print(r1)
print(r2)

5.14159
9.14159

This is the end of the document.

In [ ]:
# An element appending function
def append_element(some_list, element):
  some_list.append(element)

In [ ]:
data = [1, 2, 3]
append_element(data, 100)
data

[1, 2, 3, 100]

In [ ]:
b = [1, 2, 3]
b?

In [ ]:
a = "foo goo"
a.count("f")

1

In [ ]:
type(a)

str

In [ ]:
n = 689
type(n)

int

In [ ]:
n.real

689

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("sample_data/mnist_test.csv")
df

,7,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.658,0.659,0.660,0.661,0.662,0.663,0.664,0.665,0.666,0.667
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9995,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0