<a href="https://colab.research.google.com/github/stevenkhwun/P4DS/blob/main/Chp05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 5: Getting Started with pandas

In [ ]:
import numpy as np
import pandas as pd

To create a Series object using `Series()` function in pandas, you need to specify the function `Series()` is from pandas, that is by specifying `pd.Series()` as in the following example.

In [ ]:
# Create a Series object by pd.Series()
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

Since some functions, such as `Series()` and `DataFrame()` in pandas are so frequently used, it is much convenient in writing codes if you import `Series` and `DataFrame` into the local namespace in advance by the following code.

In [ ]:
# Import functions from pandas
from pandas import Series, DataFrame

The codes written thereafter will be much simplier, just as follow.

In [ ]:
# Create a Series object by Series()
obj2 = Series([14, 27, -35, 43])
obj2

0    14
1    27
2   -35
3    43
dtype: int64