<a href="https://colab.research.google.com/github/stevenkhwun/P4DS/blob/main/Chp10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 10: Data Aggregation and Group Operations

Python skills learnt in this notebook:
* *average* and *weighted average* using `np.average`
* the `apply()` function

In [1]:
# import the necessary packages
import numpy as np
import pandas as pd

## Group Weighted Average and Correlation (p. 344)

In [2]:
# Prepare the sample data
df = pd.DataFrame({"category": ["a", "a", "a", "a",
                                "b", "b", "b", "b"],
                   "data": np.random.standard_normal(8),
                   "weights": np.random.uniform(size=8)})
df

  category      data   weights
0        a  0.987266  0.688070
1        a  0.951999  0.875125
2        a -1.421948  0.215341
3        a -0.909182  0.815489
4        b  0.464765  0.125640
5        b  0.316987  0.786750
6        b -0.118370  0.015723
7        b -0.070126  0.143066

In [3]:
# Weighted average by category
grouped = df.groupby("category")

def get_wavg(group):
  return np.average(group["data"], weights=group["weights"])

grouped.apply(get_wavg)

category
a    0.179179
b    0.276227
dtype: float64

**`np.average`** function

The following example demonstrate the use of `np.average` to calculate the averages and the weighted averages.

In [4]:
# Prepare the sample data
df2 = pd.DataFrame({"Obs": ["a", "b", "c", "d"],
                   "data": [100, 200, 300, 400],
                   "weights": [0.1, 0.3, 0.4, 0.2]})
df2

  Obs  data  weights
0   a   100      0.1
1   b   200      0.3
2   c   300      0.4
3   d   400      0.2

In [5]:
# Calculate the average
avg = np.average(df2.data)
print("The average is", avg,".")

# Calculate the weighted average
wavg = np.average(df2.data, weights=df2.weights)
print("The weighted average is", wavg,".")

The average is 250.0 .
The weighted average is 270.0 .

In [21]:
# Get "stock_px.csv" from my GitHub site
stock_px = "https://github.com/stevenkhwun/P4DS/blob/main/Data/stock_px.txt"

In [ ]:
close_px = pd.read_csv(stock_px, parse_dates=True, index_col=0)

Go to **stackoverflow** at https://stackoverflow.com/questions/18039057/python-pandas-error-tokenizing-data for the use of the parameter `sep="\t"` in the above code.

In [17]:
close_px.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18894 entries, <html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark" data-a11y-animated-images="system"> to </html>
Empty DataFrame