<a href="https://colab.research.google.com/github/stevenkhwun/P4DS/blob/main/Chp10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 10: Data Aggregation and Group Operations

Python skills learnt in this notebook:
* *average* and *weighted average* using `np.average`
* the `apply()` function

In [23]:
# import the necessary packages
import numpy as np
import pandas as pd

## Group Weighted Average and Correlation (p. 344)

In [3]:
# Prepare the sample data
df = pd.DataFrame({"category": ["a", "a", "a", "a",
                                "b", "b", "b", "b"],
                   "data": np.random.standard_normal(8),
                   "weights": np.random.uniform(size=8)})
df

  category      data   weights
0        a  0.588556  0.898299
1        a  0.267250  0.725608
2        a  0.367187  0.844791
3        a  0.288793  0.218220
4        b  0.836820  0.139427
5        b -0.367602  0.371794
6        b  1.009492  0.675035
7        b -0.676762  0.629776

In [4]:
# Weighted average by category
grouped = df.groupby("category")

def get_wavg(group):
  return np.average(group["data"], weights=group["weights"])

grouped.apply(get_wavg)

category
a    0.407841
b    0.129534
dtype: float64

**`np.average`** function

The following example demonstrate the use of `np.average` to calculate the averages and the weighted averages.

In [5]:
# Prepare the sample data
df2 = pd.DataFrame({"Obs": ["a", "b", "c", "d"],
                   "data": [100, 200, 300, 400],
                   "weights": [0.1, 0.3, 0.4, 0.2]})
df2

  Obs  data  weights
0   a   100      0.1
1   b   200      0.3
2   c   300      0.4
3   d   400      0.2

In [15]:
# Calculate the average
avg = np.average(df2.data)
print("The average is", avg,".")

# Calculate the weighted average
wavg = np.average(df2.data, weights=df2.weights)
print("The weighted average is", wavg,".")

The average is 250.0 .
The weighted average is 270.0 .

In [26]:
# Get "stock_px.csv" from my GitHub site
stock_px = "https://github.com/stevenkhwun/P4DS/blob/main/Data/stock_px.csv"

In [27]:
close_px = pd.read_csv(stock_px)

ParserError: ignored