<a href="https://colab.research.google.com/github/stevenkhwun/P4DS/blob/main/Chp02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Built-In Data Structures, Functions, and Files

This notebook is based on [Chapter 3](https://wesmckinney.com/book/python-builtin) of Python for Data Analysis (3rd ed.) by Wes Mckinney.

## Data Structures and Sequences

### Tuple

A tuple is a **fixed-length**, **immutable** sequence of Python objects which, once assigned, cannot be changed.

**Creating a tuple**

In [1]:
# Create a tuple (with parentheses)
tup1 = (4, 5, 6)

In [2]:
tup1

(4, 5, 6)

In [3]:
# Create a tuple (without parentheses)
tup2 = 7, 8, 9

In [4]:
tup2

(7, 8, 9)

**Converting any sequence or iterator to a tuple by invoking `tuple`**

In [5]:
# Convert a list into a tuple
tuple([4, 0, 2])

(4, 0, 2)

In [6]:
# Convert a string into a tuple
tup3 = tuple('string')

In [7]:
tup3

('s', 't', 'r', 'i', 'n', 'g')

**Accessing elements by `[]`**

Sequences are 0-indexed in Python.

In [8]:
# Accessing elements of tuple
tup3[0]

's'

**Complicated tuples**

When defining tuples within more complicated expressions, it's often necessary to enclose the values in parentheses.

In [9]:
# Create a tuple of tuples
nested_tup = (4, 5, 6), (7, 8)

In [10]:
nested_tup

((4, 5, 6), (7, 8))

In [11]:
nested_tup[0]

(4, 5, 6)

In [12]:
nested_tup[1]

(7, 8)

**Mutable elements in a tuple**

While the objects stored in a tuple may be mutable themselves, once the tuple is created it's not possible to modify which object is stored in each slot:

In [13]:
# Creating a tuple with different type of objects
tup4 = ('foo'), [1, 2], (True)

In [14]:
tup4

('foo', [1, 2], True)

In [15]:
# Another way to create the same tuple
tup5 =  ('foo', [1, 2], True)

In [16]:
tup5

('foo', [1, 2], True)

In [17]:
# Checking equivalence of the tuples
tup4 == tup5

True

*Elements in a tuple cannot be modified*

In [18]:
# Elements in a tuple cannot be modified
tup4[2] = False

TypeError: 'tuple' object does not support item assignment

*If an object inside a tuple is mutable, such as a list, you can modify it in place.*

In [19]:
# Modifying an mutable object in a tuple
tup4[1].append(3)

In [20]:
tup4

('foo', [1, 2, 3], True)

**Concatenating tuples using the `+` operator**

In [21]:
# Concatentating tuples
tup1 + tup2

(4, 5, 6, 7, 8, 9)

In [22]:
# Concatentating tuples
tup6 = (4, None, 'foo') + (6, 0)

In [23]:
tup6

(4, None, 'foo', 6, 0)

*Note that the end `,` is needed if a tuple contain only one 'string' element*

In [24]:
# Creating tuple with only one string
# Note the end , is needed if a tuple contain only one 'string' element
k = ('bar',)

In [25]:
k

('bar',)

In [26]:
type(k)

tuple

In [27]:
k[0]

'bar'

*If there is no end `,`, only a string will be created.*

In [28]:
# Without the end ',', only a string will be created
s = ('bar')

In [29]:
s

'bar'

In [30]:
type(s)

str

In [31]:
s[0]

'b'

**Multiplying a tuple by an integer**

In [32]:
# Multiplying a tuple
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

**Unpacking tuples**

If you try to assign to a tuple-like expression of variables, Python will attempt to unpack the value on the righthand side of the equal sign:

In [33]:
# Unpacking tuples
tup = (4, 5, 6)
a, b, c = tup

In [34]:
print("a is", a, ",", "b is", b, ",", "and c is", c, ".")

a is 4 , b is 5 , and c is 6 .

*Even sequences with nested tuples can be unpacked:*

In [35]:
# Unpacking nested tuples
tup = 4, 5, (6, 7)
a, b, (c, d) = tup

In [36]:
print("a is", a, ",", "b is", b, ",", "c is", c, ",", "and d is", d, ".")

a is 4 , b is 5 , c is 6 , and d is 7 .

**Swapping**

*In Python, **swap** can be done like this:*

In [37]:
# Initial setup
a, b = 1, 2

In [38]:
print("a is", a, "and b is", b, ".")

a is 1 and b is 2 .

In [39]:
# Swapping
b, a = a, b

In [40]:
print("Now, a is", a, "and b is", b, ".")

Now, a is 2 and b is 1 .

There are some situations where you may want to "pluck" a few elements from the beginning of a tuple. There is a special syntax that can do this, **`*rest`**.

In [41]:
# Pluck the first few elements with *rest
values = 1, 2, 3, 4, 5
a, b, *rest = values

In [42]:
a

1

In [43]:
b

2

In [44]:
rest

[3, 4, 5]

*As a matter of convention, many Python programmers will use the underscore (`_`) for unwanted variables.*

In [45]:
# use '_' instead of 'rest'
a, b, *_ = values

In [46]:
a

1

In [47]:
b

2

In [48]:
_

[3, 4, 5]

**Tuple methods**

*The method **`.count()`** counts the number of occurrences of a value.*

In [49]:
# .count() method
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4